* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  background-color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1rem;
  background: transparent;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  margin-bottom: 1.2rem;
  z-index: 1000;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.link {
  color: #2a2a2a;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.link:hover {
  transform: scale(1.08);
  text-shadow: #2a2a2a 0px 30px 30px -25px;
}

.logo,
.search-form {
  display: grid;
  grid-template-rows: 28px;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.search-form {
  grid-template-columns: 1fr auto auto;
  width: 100%;
}

.logo {
  grid-template-columns: auto auto;
}

.logo h1 {
  color: #111111;
  font-weight: 800;
  margin: 0;
  font-family: "Merriweather", serif;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 0;
  padding: 0;
}

.input {
  border: #111111 solid 1px;
  box-shadow: #2a2a2a 0 5px 20px -10px;
  border-radius: 12px;
  padding: 0.4rem;
  height: 28px;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.input::placeholder {
  color: #2a2a2a;
}

.input:focus {
  border: #2a2a2a 1px solid;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2a2a;
  border-radius: 12px;
  box-shadow: #2a2a2a 0 10px 20px -10px;
  box-sizing: border-box;
  color: #e2e2e2;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  height: 28px;
  width: 120px;
}

.btn-search:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(75, 75, 75, 0.5), -0.125rem -0.125rem 1rem rgb(148, 148, 148),
    0.125rem 0.125rem 1rem rgb(226, 226, 226);
}

.btn-search:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(75, 75, 75, 0.5), -0.125rem -0.125rem 1rem rgb(148, 148, 148),
    0.125rem 0.125rem 1rem rgb(226, 226, 226);
}

.header-logo {
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  fill: #111111;
}

.main {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fcfcfc;
  padding: 20px;
  border: solid 1px #cecece;
  border-radius: 5px;
  width: 80%;
  min-width: 0;
  height: auto;
}

.book-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  text-align: center;
  margin-bottom: 8rem;
}

.book-description {
  margin: 0 auto;
}

.cover-img {
  border-radius: 5px;
  max-width: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn-add,
.btn-save,
.btn-delete,
.btn-edit {
  background: linear-gradient(to bottom right, #0096c7, #00b4d8);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.btn-add,
.btn-save {
  background: linear-gradient(to bottom right, #0096c7, #00b4d8);
}

.btn-edit {
  background: linear-gradient(to bottom right, #ffaa00, #ffb700);
}

.btn-delete {
  background: linear-gradient(to bottom right, #a50104, #b81702);
}

.btn-delete:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgb(142, 1, 3), -0.125rem -0.125rem 1rem rgb(184, 23, 2),
    0.125rem 0.125rem 1rem rgb(184, 23, 2);
}

.btn-delete:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgb(142, 1, 3), -0.125rem -0.125rem 1rem rgb(184, 23, 2),
    0.125rem 0.125rem 1rem rgb(184, 23, 2);
}

.btn-edit:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgb(255, 162, 0), -0.125rem -0.125rem 1rem rgb(255, 183, 0),
    0.125rem 0.125rem 1rem rgb(255, 195, 0);
}

.btn-edit:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgb(255, 162, 0), -0.125rem -0.125rem 1rem rgb(255, 183, 0),
    0.125rem 0.125rem 1rem rgb(255, 195, 0);
}

.button-form {
  width: 60%;
}

button svg {
  fill: white;
  width: 16px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

button p {
  display: inline-flex;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.btn-add:not([disabled]):focus,
.btn-save:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgb(0, 119, 182), -0.125rem -0.125rem 1rem rgb(72, 202, 228),
    0.125rem 0.125rem 1rem rgb(202, 240, 248);
}

.btn-add:not([disabled]):hover,
.btn-save:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgb(0, 119, 182), -0.125rem -0.125rem 1rem rgb(72, 202, 228),
    0.125rem 0.125rem 1rem rgb(202, 240, 248);
}

.review-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  margin-bottom: 5rem;
}

.review-header {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 20px 15px;
}

.review-input {
  resize: none;
  width: 90%;
  height: 300px;
  font-size: 17px;
  font-family: "PT Serif", serif;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

.review-input:focus {
  border: #cecece 1px solid;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 2/3;
  grid-row: 2/3;
  gap: 20px;
  padding: 0 15px;
  width: 100%;
}

.btn-save,
.btn-edit,
.btn-delete {
  width: 20%;
}

.author-cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-row: span 2;
  max-width: 340px;
}

.ud-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}

button[hidden],
textarea[hidden] {
  display: none;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 1/3;
  grid-row: 2/3;
  gap: 20px;
  padding: 0 15px;
  word-break: break-word;
}

.users-review {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 1rem;
  max-height: 300px;
  overflow-y: auto;
  font-size: 17px;
  font-family: "PT Serif", serif;
  width: 90%;
}

.saved-review {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding: 0 15px;
  width: 100%;
}

@media (max-width: 1200px) {
  .card {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .btn-search p {
    display: none;
  }

  .btn-search {
    width: 4rem;
  }

  .review-input {
    width: 100%;
  }

  .input {
    width: 12rem;
  }
  .btn-search,
  .btn-add,
  .btn-save,
  .btn-edit,
  .btn-delete {
    width: 100%;
  }

  .book-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .author-cover {
    margin: 0 auto;
  }

  .cover-img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .search-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .users-review {
    width: 100%;
  }

  .input {
    grid-column: 1/3;
    width: 100%;
    min-width: 0;
    width: 15rem;
  }

  .input::placeholder {
    text-align: center;
  }

  .logo {
    justify-content: center;
  }

  .card {
    width: 95%;
  }

  .btn-search,
  .btn-add,
  .btn-save,
  .btn-edit,
  .btn-delete {
    width: 100%;
  }

  .review-input {
    width: 100%;
  }

  .book-description {
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
  }

  .navbar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 10px;
    transition: top 0.3s ease-in-out;
  }
}

@media (max-width: 768px) and (hover: none) {
  .btn-add:not([disabled]):hover,
  .btn-add:not([disabled]):focus,
  .btn-save:not([disabled]):hover,
  .btn-save:not([disabled]):focus,
  .btn-delete:not([disabled]):hover,
  .btn-delete:not([disabled]):focus,
  .btn-edit:not([disabled]):hover,
  .btn-edit:not([disabled]):focus,
  .btn-search:not([disabled]):hover,
  .btn-search:not([disabled]):focus,
  .link:hover {
    box-shadow: none;
    transform: none;
    text-shadow: none;
  }
}
