* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #ffffff;
  overflow-x: hidden;
  max-width: 100vw;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1rem;
  background: transparent;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  margin-bottom: 3rem;
  z-index: 1000;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.logo,
.search-form {
  display: grid;
  grid-template-rows: 28px;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}

.search-form {
  grid-template-columns: 1fr auto auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.logo {
  grid-template-columns: auto auto;
}

.logo h1 {
  color: #111111;
  font-weight: 800;
  margin: 0;
  font-family: "Merriweather", serif;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 0;
  padding: 0;
}

.input {
  border: #111111 solid 1px;
  box-shadow: #2a2a2a 0 5px 20px -10px;
  border-radius: 12px;
  padding: 0.4rem;
  height: 28px;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 13rem;
  min-width: 0;
  flex: 1;
}

.input::placeholder {
  color: #2a2a2a;
}

.input:focus {
  border: #2a2a2a 1px solid;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2a2a;
  border-radius: 12px;
  box-shadow: #2a2a2a 0 10px 20px -10px;
  box-sizing: border-box;
  color: #e2e2e2;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  height: 28px;
  width: 120px;
}

.btn-search:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(75, 75, 75, 0.5), -0.125rem -0.125rem 1rem rgb(148, 148, 148),
    0.125rem 0.125rem 1rem rgb(226, 226, 226);
}

.btn-search:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(75, 75, 75, 0.5), -0.125rem -0.125rem 1rem rgb(148, 148, 148),
    0.125rem 0.125rem 1rem rgb(226, 226, 226);
}

.header-logo {
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  fill: #111111;
}

.main {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background-color: #fcfcfc;
  display: block;
  padding: 10px;
  text-align: center;
  width: 230px;
  border: solid 1px #cecece;
  border-radius: 5px;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.card:hover {
  transform: scale(1.08);
  box-shadow: #2a2a2a 0px 30px 30px -25px;
}

.card h3 {
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}

.link {
  color: #2a2a2a;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.link:hover {
  transform: scale(1.08);
  text-shadow: #2a2a2a 0px 30px 30px -25px;
}

.author {
  margin-bottom: 10px;
  font-family: "PT Serif", serif;
  font-weight: 400;
}

.author-paragraph {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cover-wrapper {
  margin: auto;
  height: 300px;
  width: 180px;
  overflow: hidden;
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  gap: 10px;
}

button svg {
  fill: white;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
}

.btn {
  background: linear-gradient(to bottom right, #757575, #969696);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.show-eye,
.btn-add p {
  display: none;
}

.btn-show {
  background: linear-gradient(to bottom right, #757575, #969696);
}

.btn-add {
  background: linear-gradient(to bottom right, #0096c7, #00b4d8);
}

.btn-show:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgb(94, 94, 94), -0.125rem -0.125rem 1rem rgb(165, 165, 165),
    0.125rem 0.125rem 1rem rgb(209, 209, 209);
}

.btn-show:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgb(94, 94, 94), -0.125rem -0.125rem 1rem rgb(165, 165, 165),
    0.125rem 0.125rem 1rem rgb(209, 209, 209);
}

.btn-add:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgb(0, 119, 182), -0.125rem -0.125rem 1rem rgb(72, 202, 228),
    0.125rem 0.125rem 1rem rgb(202, 240, 248);
}

.btn-add:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgb(0, 119, 182), -0.125rem -0.125rem 1rem rgb(72, 202, 228),
    0.125rem 0.125rem 1rem rgb(202, 240, 248);
}

@media (max-width: 1200px) {
  .card-buttons {
    justify-content: center;
  }

  .btn-show {
    width: 70%;
  }

  .btn-add {
    width: 30%;
  }
}

@media (min-width: 992px) {
  .card-buttons {
    justify-content: center;
  }

  .btn-show {
    width: 70%;
  }

  .btn-add {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .btn-search p {
    display: none;
  }

  .btn-search {
    width: 4rem;
  }

  .input {
    width: 12rem;
  }

  .card-buttons {
    justify-content: center;
  }

  .btn-add,
  .btn-show {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .search-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .show-eye {
    display: inline-block;
  }

  .btn-add p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .input {
    grid-column: 1/3;
    width: 100%;
    min-width: 0;
    width: 15rem;
  }

  .input::placeholder {
    text-align: center;
  }

  .logo {
    justify-content: center;
  }

  .btn-search {
    width: 100%;
  }

  .navbar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 10px;
    transition: top 0.3s ease-in-out;
  }

  .card {
    width: 80%;
    height: auto;
    padding: 1rem;
    max-width: 400px;
    margin: 0;
  }

  .cover-wrapper {
    width: 50%;
    height: auto;
  }

  .card-buttons {
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: flex-end;
  }

  .btn-show,
  .btn-add {
    width: 100%;
  }
}

@media (max-width: 768px) and (hover: none) {
  .btn-search:not([disabled]):hover,
  .btn-search:not([disabled]):focus,
  .btn-show:not([disabled]):hover,
  .btn-show:not([disabled]):focus,
  .btn-add:not([disabled]):hover,
  .btn-add:not([disabled]):focus,
  .card:hover,
  .link:hover {
    box-shadow: none;
    transform: none;
    text-shadow: none;
  }
}
